<h2 mat-dialog-title>Riddling Soothsayer</h2>
<mat-dialog-content class="mat-typography">
  <div>You encounter a riddling soothsayer.</div>
  <div>You roll a {{solveRoll}}</div>
  <div *ngIf="!solved(); else avoid">
    You fail to solve the riddle and take {{damageRoll}} damage
  </div>
  <ng-template #avoid>
    you solve the riddle
    <mat-radio-group [(ngModel)]="reward">
      <mat-radio-button value="silver">Get 10 Silver</mat-radio-button>
      <mat-radio-button value="points">Get 3 Points</mat-radio-button>
    </mat-radio-group>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="resolveRiddle()">OK</button>
</mat-dialog-actions>
