<h2>Inventory</h2>

<ng-container *ngFor="let inventorySlot of stateService.character.inventory | keyvalue">
  <div *ngIf="inventorySlot.value > 0">
    {{ getItemName(inventorySlot.key) }}: {{ inventorySlot.value }} <button mat-button *ngIf="isUsable(inventorySlot.key)" (click)="use(inventorySlot.key)">Use</button>
  </div>
</ng-container>

<ng-container *ngFor="let weaponSlot of stateService.character.weapons | keyvalue">
  <div *ngIf="weaponSlot.value > 0">
    {{ getWeaponName(weaponSlot.key) }}: {{ weaponSlot.value }} <button mat-button (click)="equip(weaponSlot.key)">Equip</button>
  </div>
</ng-container>
