<!-- src/app/components/room-map/room-map.component.html -->

<div class="room-grid">
  <div *ngFor="let row of height" class="room-row">
    <div *ngFor="let col of width" class="room">
      <ng-container *ngIf="getRoomAtPosition(row, col) as room">
        <div class="room-shape" (click)="onRoomClick(room)">
          {{ getRoomDescription(room) }}
          <div class="north-exit exit" *ngIf="room.exits.includes('north')">↑</div>
          <div class="south-exit exit" *ngIf="room.exits.includes('south')">↓</div>
          <div class="east-exit exit" *ngIf="room.exits.includes('east')">→</div>
          <div class="west-exit exit" *ngIf="room.exits.includes('west')">←</div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
