<!-- src/app/components/room-map/room-map.component.html -->

<div class="room-grid">
  <div *ngFor="let row of roomGrid" class="room-row">
    <div *ngFor="let room of row" class="room">
      <h3>{{ getRoomShape(room.shape) }}</h3>
      <div class="exit-grid">
        <div class="spacer"></div>
        <div class="exit" *ngIf="room.exits.includes(cardinality.north)">↑</div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="exit" *ngIf="room.exits.includes(cardinality.west)">←</div>
        <div class="spacer"></div>
        <div class="exit" *ngIf="room.exits.includes(cardinality.east)">→</div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="exit" *ngIf="room.exits.includes(cardinality.south)">↓</div>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
</div>
