.container {
  display: flex;
  justify-content: center;
}

.dice {
  width: 128px;
  height: 128px;
}

.d4-1 {
  background-image: url('/dice/d4-1.svg');
}

.d4-2 {
  background-image: url('/dice/d4-2.svg');
}

.d4-3 {
  background-image: url('/dice/d4-3.svg');
}

.d4-4 {
  background-image: url('/dice/d4-4.svg');
}

.d6-1 {
  background-image: url('/dice/d6-1.svg');
}

.d6-2 {
  background-image: url('/dice/d6-2.svg');
}

.d6-3 {
  background-image: url('/dice/d6-3.svg');
}

.d6-4 {
  background-image: url('/dice/d6-4.svg');
}

.d6-5 {
  background-image: url('/dice/d6-5.svg');
}

.d6-6 {
  background-image: url('/dice/d6-6.svg');
}
