<h2 mat-dialog-title>Fight {{ monsterName }}</h2>
<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <mat-icon class="hero" svgIcon="kargunt"></mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="buttons-container">
        <button mat-fab extended [disabled]="monsterHitPoints <= 0 || stateService.character.hitPointsCurrent <= 0"
                (click)="attack()">
          <mat-icon class="action" svgIcon="dagger"></mat-icon>
          Attack
        </button>
        <button mat-fab extended *ngFor="let item of getUsableItems()" (click)="useItem(item)">
          <mat-icon class="action" [svgIcon]="item.id"></mat-icon>
          {{ stateService.getItem(item.id).name }}: {{ item.charges }}
        </button>
        <button mat-fab extended *ngIf="stateService.hasItem('aegis')" [disabled]="!canUseAegis()" (click)="useAegis()">Aegis of Sorrow</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-icon *ngIf="monster" class="monster" [svgIcon]="monster" [@fadeIn]="{ value: '*', params: { transitionTime: '1000ms' } }"></mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <solo-pips class="pip" emptyIcon="heart-empty" fullIcon="heart-full"
                   [totalPips]="stateService.character.hitPointsMax"
                   [shadedPips]="stateService.character.hitPointsCurrent"></solo-pips>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <solo-pips *ngIf="monster" class="pip" emptyIcon="heart-empty" fullIcon="heart-full" [totalPips]="monsterHitPointsMax"
                   [shadedPips]="monsterHitPoints"></solo-pips>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>
