<h2 mat-dialog-title>Fight {{ monsterName }}</h2>
<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <mat-icon class="hero" svgIcon="kargunt"></mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>Hit Points: {{ monsterHitPoints }}</div>
      <div>{{ message }}</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-icon class="monster" [svgIcon]="monster"></mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <solo-pips class="pip" emptyIcon="heart-empty" fullIcon="heart-full"
                   [totalPips]="stateService.character.hitPointsMax"
                   [shadedPips]="stateService.character.hitPointsCurrent"></solo-pips>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-fab extended [disabled]="monsterHitPoints <= 0 || stateService.character.hitPointsCurrent <= 0" (click)="attack()">
        <mat-icon class="action" svgIcon="dagger"></mat-icon>
        Attack
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <solo-pips class="pip" emptyIcon="heart-empty" fullIcon="heart-full" [totalPips]="monsterHitPointsMax"
                   [shadedPips]="monsterHitPoints"></solo-pips>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>
<mat-dialog-actions align="end">

  <button mat-button *ngIf="canUseAegis()" (click)="useAegis()">Use Aegis of Sorrow</button>
  <mat-menu #menu="matMenu">
    <button *ngFor="let item of getUsableItems()" (click)="useItem(item)"
            mat-menu-item>{{ stateService.getItem(item.id).name }}: {{ item.charges }}
    </button>
  </mat-menu>
  <button mat-button
          *ngIf="monsterHitPoints > 0 && stateService.character.hitPointsCurrent > 0 && getUsableItems().length > 0"
          [matMenuTriggerFor]="menu">Use
  </button>

  <button mat-button *ngIf="monsterHitPoints <= 0 || stateService.character.hitPointsCurrent <=0"
          (click)="resolveCombat()">OK
  </button>
</mat-dialog-actions>
