<h2 mat-dialog-title>Fight {{monsterName}}</h2>
<mat-dialog-content class="mat-typography">
  <div>Hit Points: {{hitPoints}}</div>
  <div>{{message}}</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button *ngIf="hasItem('palms')" (click)="usePalms()">Use Palms open the south gate</button>
  <button mat-button *ngIf="hasItem('potion')" (click)="usePotion()">Use Potion</button>
  <button mat-button *ngIf="hasItem('cloak')" (click)="useCloak()" mat-dialog-close>Use Cloak of invisibility</button>
  <button mat-button *ngIf="hitPoints > 0 && stateService.character.hitPointsCurrent > 0" (click)="attack()">Attack</button>
  <button mat-button *ngIf="canRerollmonster()" (click)="rerollMonster()">Reroll Monster</button>
  <button mat-button *ngIf="hitPoints <= 0 || stateService.character.hitPointsCurrent <=0" (click)="resolveCombat()" mat-dialog-close>OK</button>
</mat-dialog-actions>
